/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */
/*! 
 * Base structure
 */
/*!  Move down content because we have a fixed navbar that is 50px tall */

body {
    width: 100%;
    background-color: #fdfff7
}
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */
/*! 
 * Global add-ons
 */

h1 {
    font: normal normal 900 normal 150px'Poiret One', serif;
    font-stretch: normal;
    color: #b73f5c;
    text-align: center;
    margin-top: 100px
}
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*! 
 * Top navigation
 * Hide default border to remove 1px line.
 */

.h2 {
    text-align: center;
    font-family: 'Poiret One', serif;
    color: #b73f5c;
    margin-top: -28px;
    font-weight: 900
}
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */
/*! 
 * Sidebar
 */
/*!  Hide for mobile, show later */

.form-horizontal {
    margin-top: 100px;
    margin-left: 25%
}
.page-header {
    font-stretch: normal;
    font: 200 113px'Advent Pro', serif
}
.nav.navbar-nav.navbar-right>li>a:hover {
    font-style: oblique!important
}
.nav.navbar-nav.navbar-right>li {
    font-stretch: normal;
    font: 500 18px'Josefin Sans'
}
.navbar-header>a.navbar-brand {
    color: #fdfff7;
    font-stretch: normal;
    font: 900 25px'Poiret One';
    padding-top: 10px
}
.nav.nav-sidebar>li>a:hover {
    font-stretch: normal;
    font: 500 17px'Josefin Sans';
    color: #d9534f!important
}
.nav.nav-sidebar>li {
    font-stretch: normal;
    font: 400 17px'Josefin Sans'
}
.sub-header {
    text-transform: uppercase;
    font-stretch: normal;
    font: 900 26px'Josefin Sans', serif
}
th {
    font-stretch: normal!important;
    font: 900 19px'Josefin Sans'!important
}
td {
    font-stretch: normal;
    font: 600 15px'Josefin Sans'
}
form.form-signin>h2 {
    font-stretch: normal;
    font: 900 30px'Poiret One'
}
form.form-signin>input.form-control {
    font-size: 14px!important
}
form.form-signin>input.outcast {
    position: relative;
    top: -12px
}
form.form-signin>button.btn {
    font-stretch: normal;
    font: 600 22px'Poiret One';
    background: #d9534f;
    border: #d9534f;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial
}

.question-option {
    cursor: pointer;
}