body{
    font-size: 30pt;
    color: #FFFB00;
    font-family: arial black;
    text-align: left;
    background-color: #271B32;
}
h1{

    background-color: blue;
}

h2{
    background-color: blue;
}

.redbg{
    background-color: red;
}